<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="CodeIgniter Clean URLs" stopProcessing="true">
          <match url=".*" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php/{R:0}" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>

    <defaultDocument>
      <files>
        <clear />
        <add value="index.php" />
      </files>
    </defaultDocument>

    <handlers accessPolicy="Read, Script, Execute">
      <remove name="PHP_via_FastCGI" />
      <add name="PHP_via_FastCGI"
           path="*.php"
           verb="GET,HEAD,POST"
           modules="FastCgiModule"
           scriptProcessor="C:\inetpub\php7\php-cgi.exe"
           resourceType="Either" />
    </handlers>

    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>
  </system.webServer>
</configuration>

